.wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  padding: 0 80px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
